<%-include('./partials/head'); %>
<div class="container back-grey m-3">
    <h1 class="blue m-2">Vista de Productos</h1>
    <% if(productosList.length > 0) { %> 
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            <% productosList.forEach( prod => { %>
                <tr>
                    <td><%= prod.id%></td>
                    <td><%= prod.title%></td>
                    <td>$ <%= prod.price%></td>
                    <td><img class="images" src="<%= prod.thumbnail%>"></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <div class="back-yellow m-5">
            <h2 class="yellow">No se encontraron productos</h2>
        </div>
    <% } %>
    <a href="/">
        <button class="btn btn-primary"><strong>Agregar Producto</strong></button>
    </a>
</div>
<%-include('./partials/footer'); %>